---
import Layout from '../layouts/Layout.astro'
import Card from '../components/ProjectCard.astro'
---

<Layout title="Welcome to my portfolio">
  <main>
    <div class="container">
      <div id="about" class="about">
        <h5>Hi, I'm Arthur.</h5>
        <p>
          I'm a web developer currently studying and looking for professional
          experience. I really enjoy back-end development, it is my passion.
        </p>
      </div>
    </div>

    <ul class="projectsList">
      <Card
        title="Brechó Virtual"
        about="Little e-commerce project that i created, used as a final project for the course I was taking. It implement JWT, secured routes, cookies, a real PostgreSQL database and a basic CRUD."
        imgUrl="https://imgur.com/LvFab9x.jpeg"
        ghUrl="https://github.com/arthurfaraujo/notefy"
        alignRight={true}
      />
      <Card
        title="Notefy"
        about="A web app that allows you to create your notes. Using Express, Typescript, Zod and other tecnologies to create an API that connects to a PostgreSQL database."
        imgUrl="https://imgur.com/LvFab9x.jpeg"
        ghUrl="https://github.com/arthurfaraujo/brecho-virtual"
        alignRight={true}
      />
      <Card
        title="React Chat"
        about="Chat using React, with TypeScript, and Socket.io to send messages in real-time. Database will be added to keep messages saved."
        imgUrl="https://imgur.com/LvFab9x.jpeg"
        ghUrl="https://github.com/arthurfaraujo/react-chat"
        alignRight={true}
      />
      <Card
        title="placeholder"
        about="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus doloremque ratione alias amet quaerat nobis nulla molestiae animi neque quidem aliquid recusandae odit, quas, ab cumque laborum sit molestias! Facilis. Lorem ipsum dolor sit amet consectetur adipisicing elit."
        imgUrl="https://imgur.com/LvFab9x.jpeg"
        ghUrl="https://github.com/arthurfaraujo/brecho-virtual"
        alignRight={true}
      />
    </ul>
  </main>
</Layout>
